* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


#preloader {
    background: #000000 url(img/igif.gif) no-repeat center center;
    height: 100vh;
    background-size: 3%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.row {
    background: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.connection {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 360px;
    height: 70px;
    background: #242526;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.connection p {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.connection .refreshBtn {
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    color: #469aff;
}

.connection .wifi-off {
    margin-right: 20px;
    font-size: 26px;
    color: #7c7c7c;
}

.connection .close {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #474747;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.connection .wifi {
    color: #029702;
    font-size: 26px;
    margin-right: 20px;
}

.online.active {
    width: 420px;
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}

.offline.active {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}

